<article class="cards__conteiner cards">
    <ng-content select="img"></ng-content>
    
    <ng-container *ngIf="error else showCards">
        <strong>
            Error from backend: {{ error }}
        </strong>
        <p>
            Users list is empty
        </p>
    </ng-container>
    <ng-template #showCards>
        <ng-container 
            *ngFor="let user of users 
                | searchName: searchUserName
                | filterGender: filterUserGender
                | filterStatus: fiterUserStatus
                | filterName: filterUserName
                | filterLaguage: filterUserLanguage
                
            ; let ind = index; let count = count; trackBy: trackByFn"
            >
            <app-user-item
                [user]="user"
                >
                <p #contentText> 
                    user {{ ind + 1 }} from {{ count }}
                </p>
            </app-user-item>
        </ng-container>
    </ng-template>

</article>