<ng-container>
    <label for="gender">
        Gender:
    </label>
    <ng-container>
        <input id="male" 
            type="radio" 
            value="male" 
            name="gender" 
            [class.active]="isActive('male')"
            [disabled]="disabled"
            (change)="setLevel('male')"
        />
        <label for="male">
            Male
        </label>
    </ng-container>
    <ng-container>
        <input id="female" 
            type="radio" 
            value="female" 
            name="gender" 
            [class.active]="isActive('female')"
            [disabled]="disabled"
            (click)="setLevel('female')"
        />
        <label for="female">
            Female
        </label>
    </ng-container>
</ng-container>
