<section class="user__episode episode">
    <!-- <ng-template> -->
        <table class="episode__table"
            *ngFor="let item of TABLE_EPISODE">
            <caption>
                Episodes
            </caption>
            <thead>
                <tr>
                    <th>
                        {{ item.url }}
                    </th>
                    <th>
                        {{ item.name }}
                    </th>
                    <th>
                        {{ item.track }}
                    </th>
                    <th>
                        {{ item.created }}
                    </th>
                    <th>
                        {{ item.completed }}
                    </th>
                    <th>
                        Lasted
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ userDetails.episode.url | urlConvertNumber }}
                    </td>
                    <td>
                        {{ userDetails.episode.name }}
                    </td>
                    <td>
                        {{ userDetails.episode.track }}
                    </td>
                    <td>
                        {{ userDetails.episode.created }}
                    </td>
                    <td>
                        {{ userDetails.episode.completed }}
                    </td>
                    <td>

                    </td>
                </tr>    
            </tbody>
        </table>
    <!-- </ng-template> -->
</section>