<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name.title">
      <th mat-header-cell *matHeaderCellDef> 
        Appeal 
      </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.name.title }} 
      </td>
    </ng-container>
    <ng-container matColumnDef="name.first">
      <th mat-header-cell *matHeaderCellDef> 
        First name
      </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.name.first}} 
      </td>
    </ng-container>
    <ng-container matColumnDef="name.last">
      <th mat-header-cell *matHeaderCellDef> 
        Last name
      </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.name.last }} 
      </td>
    </ng-container>
    <ng-container matColumnDef="dob.date">
      <th mat-header-cell *matHeaderCellDef> 
        Date of birthday
      </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.dob.date | formatDate }} 
      </td>
    </ng-container>
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> 
        Gender 
      </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.gender }} 
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> 
        Status 
      </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.status }} 
      </td>
    </ng-container>
    <ng-container matColumnDef="name.location.country">
      <th mat-header-cell *matHeaderCellDef> 
        Country
      </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.location.country }} 
      </td>
    </ng-container>
    <ng-container matColumnDef="name.location.city">
      <th mat-header-cell *matHeaderCellDef> 
        City 
      </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.location.city }} 
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> 
        Email 
      </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.email }} 
      </td>
    </ng-container>
    <ng-container matColumnDef="name.language">
      <th mat-header-cell *matHeaderCellDef> 
        Languages 
      </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.language }} 
      </td>
    </ng-container>
    <ng-container matColumnDef="name.registered.date">
      <th mat-header-cell *matHeaderCellDef> 
        Date registered 
      </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.registered.date | formatDate }} 
      </td>
    </ng-container>
    <ng-container matColumnDef="name.phone">
      <th mat-header-cell *matHeaderCellDef> 
        Phone 
      </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.phone }} 
      </td>
    </ng-container>
    <ng-container matColumnDef="name.nat">
      <th mat-header-cell *matHeaderCellDef> 
        Nationality 
      </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.nat }} 
      </td>
    </ng-container>
    <tr 
      mat-header-row 
      *matHeaderRowDef="displayedColumns"
      >
    </tr>
    <tr 
      mat-row 
      *matRowDef="let row; columns: displayedColumns;"
      >
    </tr>
</table>