.additional {
    position: absolute;
    width: 50%;
    top: 20%;
    left: 50%;
    padding: 0 0 0 2rem;

    &__table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;

        td, th {
            border: 1px solid var(--light-color-2);
            padding: 5px;
        }

        th {
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: left;
            background-color: var(--primary-color-6);
            color: var(--light-color-1);
        }
    }

    ul {

        li {
            cursor: pointer;
        }
    }
}