<div class="details__container details">

    <div class="details__choice">
        <ng-content select="[button-back]"></ng-content>
        <ng-content select="[checbox-show-data]"></ng-content>
        <ng-container *ngIf="showTable">
            <button 
                mat-raised-button color="accent"
                (click)="deleteUser()"
                >
                Delete
            </button>
            <button 
                mat-raised-button color="warn"
                (click)="editUser()"
                >
                Edit
            </button>
        </ng-container>
    </div>

    <ng-template [isVisibleOrNot]="showTable">
        <table class="details__table">
            <tr>
                <th>
                    Appeal
                </th>
                <th>
                    First name
                </th>
                <th>
                    Last name
                </th>
                <th>
                    Date of birthday
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Status
                </th>
                <th>
                    Country
                </th>
                <th>
                    City
                </th>
                <th>
                    Email
                </th>
                <th>
                    Languages
                </th>
                <th>
                    Date registered
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Nationality
                </th>
            </tr>
            <tr>
                <td>
                    {{ userDetails.name.title }}
                </td>
                <td>
                    {{ userDetails.name.first }}
                </td>
                <td>
                    {{ userDetails.name.last }}
                </td>
                <td>
                    {{ userDetails.dob.date | formatDate }}
                </td>
                <td>
                    {{ userDetails.gender }}
                </td>
                <td>
                    {{ userDetails.status }}
                </td>
                <td>
                    {{ userDetails.location.country }}
                </td>
                <td>
                    {{ userDetails.location.city }}
                </td>
                <td>
                    {{ userDetails.email }}
                </td>
                <td>
                    {{ userDetails.language }}
                </td>
                <td>
                    {{ userDetails.registered.date | formatDate }}
                </td>
                <td>
                    {{ userDetails.phone }}
                </td>
                <td>
                    {{ userDetails.nat }}
                </td>
            </tr>
        </table>
    </ng-template>
    <ng-content *ngIf="showTable" selcet="[button-extra]"></ng-content>
</div>
