<section class="details__container details">

    <div class="details__choice">
        <ng-content select="[button-back]"></ng-content>
        <ng-content select="[checbox-show-data]"></ng-content>
        <ng-container *ngIf="showTable">
            <mat-checkbox checbox-show-data
                class="example-margin" 
                [(ngModel)]="darkColor"
                (change)="showText=!showText"
                >
                <span>
                    {{ showText ? 'Color black' : 'Color white' }}
                </span>
            </mat-checkbox>
            <button tooltipDirective
                mat-raised-button color="accent"
                (click)="deleteUser()"
                >
                Delete
                <ng-template #tooltipTemplate>      
                    <div class="tooltip">   
                        Delete user!
                    </div>      
                </ng-template>  
            </button>
            <button 
                mat-raised-button color="warn"
                (click)="editUser()"
                >
                Edit
            </button>
        </ng-container>
    </div>
    
    <ng-template [isVisibleOrNot]="showTable">
        <table class="details__table" [paCellDarkColor]="darkColor">
            <tr>
                <th *ngFor="let column of TABLE_USER_HEADER; let index = index">
                    {{ column }}
                </th>
            </tr>
            <tr>
                <td>
                    {{ userDetails.name.title }}
                </td>
                <td>
                    {{ userDetails.name.first }}
                </td>
                <td>
                    {{ userDetails.name.last }}
                </td>
                <td>
                    {{ userDetails.dob | formatDate }}
                </td>
                <td>
                    {{ userDetails.gender }}
                </td>
                <td>
                    {{ userDetails.status }}
                </td>
                <td>
                    {{ userDetails.language }}
                </td>
                <td>
                    {{ userDetails.registered | formatDate }}
                </td>
            </tr>
        </table>
    </ng-template>
    <ng-content *ngIf="showTable" selcet="[button-extra]"></ng-content>
</section>
