<section class="admin admin__container">
    <h1>
        Sign up
    </h1>
    <hr><br>
    <form class="admin__form form"
        [formGroup]="formSignUp"  
        (ngSubmit)="onSubmit()"
        ngNativeValidate
        >
        <app-input-accessor
            formControlName="firstName"
            [type]="'type'"
            [placeholder]="'Enter your first name...'"
            [isRequired]="true"
            [label]="'First name'"
            [patternLettersNumbers]="'^[a-zA-Z][a-zA-Z0-9]+$'"
            >
        </app-input-accessor>
        <app-input-accessor
            formControlName="lastName"
            [type]="'type'"
            [placeholder]="'Enter your last name...'"
            [isRequired]="true"
            [label]="'Last name'"
            [patternLetters]="'^[a-zA-Z][a-zA-Z]+$'"
            >
        </app-input-accessor>
        <app-input-accessor
            formControlName="email"
            [type]="'type'"
            [placeholder]="'Enter your email...'"
            [isRequired]="true"
            [label]="'Email'"
            [patternEmail]="'[A-Za-z0-9._%-]+@[A-Za-z0-9._%-]+.[a-z]{2,3}'"
            >
        </app-input-accessor>
        <app-input-accessor
            formControlName="password"
            [type]="'type'"
            [placeholder]="'one number, letter in lower and upper case, min 8 sumbols!'"
            [isRequired]="true"
            [label]="'Password'"
            [patternPassword]="'(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$'"
            >
        </app-input-accessor>
        <app-input-accessor
            formControlName="confirmPassword"
            [type]="'password'"
            [placeholder]="'Repeat your password...'"
            [isRequired]="true"
            [label]="'Confirm password'"
            [patternPassword]="'(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$'"
            >
        </app-input-accessor>
        <div class="validation">
            <small class="error"
                *ngIf="formSignUp.controls['confirmPassword'].hasError('NoPassswordMatch')"
                >
                🚫 &nbsp; <strong>Password do not match! </strong>
            </small>
        </div>
        <div class="admin__submit form-group">
            <button class="admin__success"
                type="submit"
                [disabled]="formSignUp.invalid || formSignUp.pending">
                Submit
            </button>
            <p>
                <span>
                    Already have an account?&nbsp;
                </span>
                <a [routerLink]="['/auth/log-in']">
                    Log in!
                </a>
            </p>
        </div>
        <div>
            <ng-template 
                #testTemplate 
                let-name="name"
                let-age="age"
                >
                <div>
                    My name is {{ name }}, i'm {{ age }}.
                </div>
            </ng-template>
              
            <ng-container 
                *ngTemplateOutlet="testTemplate; 
                context: { name: 'Nikolai', age: 36 }"
                >
            </ng-container>
            <ng-container 
                *ngTemplateOutlet="testTemplate; 
                context: { name: 'Mariana', age: 6 }"
                >
            </ng-container>
            <ng-container 
                *ngTemplateOutlet="testTemplate; 
                context: { name: 'Marat', age: 0 }"
                >
            </ng-container>
        </div>
    </form>
</section>