<section class="home__container home">
    <app-users-filters
        [searchUserName]="searchUserName"
        [filterUserNameAge]="filterUserNameAge"
        [sortParamets]="sortParamets"
        [filterUserGender]="filterUserGender"
        [gender]="gender"
        [fiterUserStatus]="fiterUserStatus"
        [status]="status"
        [filterUserLanguage]="filterUserLanguage"
        [languages]="languages"
        [activelanguage]="activelanguage"
        (currentSearchName)="onCurrentSearchName($event)"
        (currentForSortValue)="onCurrentForSortValue($event)"
        (currentGender)="onCurrentGender($event)"
        (currentSratus)="onCurrentSratus($event)"
        (currentLanguage)="onCurrentLanguage($event)"
        >

    </app-users-filters> 
    
    <app-users-cards
        [users]="users$ | async"
        [error]="error$ | async"
        [searchUserName]="searchUserName"
        [filterUserNameAge]="filterUserNameAge"
        [filterUserGender]="filterUserGender"
        [fiterUserStatus]="fiterUserStatus"
        [filterUserLanguage]="filterUserLanguage"
        (detailUser)="onDetailUser($event)"
        >
        <img 
            #contentImage
            *ngIf="isLoading$ | async"
            src="assets/images/ZC9Y.gif"
        />
    </app-users-cards>
 
</section>