<section class="common__container common">
  <header class="content">
      <app-nav></app-nav>
  </header>
  <aside class="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, doloremque. Ipsum labore, consectetur assumenda magni aliquid modi vero obcaecati, architecto voluptate consequuntur ut facere cupiditate sequi exercitationem nesciunt cum ad.
  </aside>
  <main class="content">
      <router-outlet></router-outlet> 
  </main>
  <footer class="content">
      <app-footer></app-footer>
  </footer>
</section>
