<section class="filters__container filters">
    <div class="filters__filter"> 
        <label 
            class="filters__label label" 
            for="name-search"
            >
            Search user name
        </label>
        <input
            id="name-search"
            type="text"
            placeholder="Enter name for search"
            [(ngModel)]="searchUserName"
            (input)="inputCurrentName()"
            #focusInput
        /> 
    </div>

    <div class="filters__filter">
        <label
            class="filters__label label" 
            for="name-sort"
            >
            Sort user name
        </label>
        <select
            id="name-sort"
            [(ngModel)]="filterUserName"
            (change)="selectAlfabetSort()"
            >
            <option
                *ngFor="let sortAlfabet of sortAlfabetParamets"
                [value]="sortAlfabet"
                >
                {{ sortAlfabet }}
            </option>
        </select>
    </div>
</section>