<section class="filters__container filters example-form">
    <mat-form-field 
        class="example-full-width"
        appearance="fill"
        >
        <mat-label>
            Search users by name
        </mat-label>
        <input 
            matInput
            placeholder="Enter name for search"
            [(ngModel)]="searchUserName"
            (input)="inputCurrentName()"
            #focusInput
        >
    </mat-form-field>

    <mat-form-field 
        class="example-full-width" 
        appearance="fill"
        >
        <mat-label>
            Sort users by name
        </mat-label>
        <select matNativeControl 
            [(ngModel)]="filterUserNameAge" 
            (change)="selectForSortSort()"
            name="sortParamet"
            >
            <option 
                *ngFor="let sortParamet of sortParamets"
                [value]="sortParamet"
                >
                {{ sortParamet }}
            </option>
        </select>
    </mat-form-field>

    <mat-form-field 
        class="example-full-width" 
        appearance="fill"
        >
        <mat-label>
            Sort users by gender
        </mat-label>
        <select matNativeControl 
            [(ngModel)]="filterUserGender"
            (change)="selectGenderSort()"
            name="sortAlfabet"
            >
            <option 
                *ngFor="let item of gender"
                [value]="item"
                >
                {{ item }}
            </option>
        </select>
    </mat-form-field>
    <mat-divider></mat-divider>
    
    <ng-container>
        <label id="example-radio-group-label">
            Sort users by status
        </label>
        <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="fiterUserStatus"
            (change)="selectStatusSort()"
            >
            <mat-radio-button 
                class="example-radio-button" 
                *ngFor="let item of status" 
                [value]="item"
                >
                {{ item }}
            </mat-radio-button>
        </mat-radio-group>
    </ng-container>
    <mat-divider></mat-divider>

    <div class="example-full-width">
        <p>
            Sort users by languages
        </p>
        <app-languages-filter
            *ngFor="let language of languages"
            [language]="language"
            [activelanguage]="activelanguage"
            (currentLanguage)="onCurrentLanguage($event)"
            >
        </app-languages-filter>
    </div>
    <mat-divider></mat-divider>
    
    <mat-checkbox 
        #saveUserAvailable
        class="example-margin"
        (change)="selectedAvailable(saveUserAvailable.checked)"
        [checked]="filterUserAvailable"
        >
        Only Online
    </mat-checkbox>

</section>