<div 
    class="user__conteiner user"
    (click)="getailUser()">
    <div class="user__head" 
        *ngFor="let image of user.picture  | slice:0:1"
        >
        <img 
            [src]="image.src" 
            class="user__image"
        />
    </div>
    <div class="user__body">
        <div 
            class="user__circle"
            [ngStyle]="{'background-color': this.user.available === true ? 'var(--primary-color-4)' : 'var(--primary-color-1)'}"
            >
            <!-- [ngClass]="getClassName()" -->
        </div>
        <ul>
            <li>
                First name: {{ user.name.first }}
            </li>
            <li>
                Age: {{ user.dob | formatAge }}
            </li>
            <li>
                Gender: {{ user.gender }}
            </li>
            <li>
                Status: {{ user.status }}
            </li>
            <li>
                Languages: {{ user.language }}
            </li>
            <li>
                Episodes: {{ user.episode?.name }}
            </li>
        </ul>
        <ng-content select="p"></ng-content>
    </div>
</div>