<div class="user__conteiner user">
    <div class="user__head">
        <img 
            [src]="user.picture.large" 
            class="user__image"
        />
    </div>
    <div class="user__body">
        <ul>
            <li>
                First name: {{ user.name.first }}
            </li>
            <li>
                Last name: {{ user.name.last }}
            </li>
            <li>
                Status: {{ user.status }}
            </li>
            <li>
                Species: {{ user.gender }}
            </li>
            <li>
                Email: {{ user.email }}
            </li>
            <li>
                City: {{ user.location.city }}
            </li>
        </ul>
        <ng-content select="p"></ng-content>
    </div>
</div>