<div 
    class="user__conteiner user"
    (click)="getailUser()">
    <div class="user__head">
        <img 
            [src]="user.picture.large" 
            class="user__image"
        />
    </div>
    <div class="user__body">
        <ul>
            <li>
                First name: {{ user.name.first }}
            </li>
            <li>
                Age: {{ user.dob.date | formatAge }}
            </li>
            <li>
                Gender: {{ user.gender }}
            </li>
            <li>
                Status: {{ user.status }}
            </li>
            <li>
                Languages: {{ user.language }}
            </li>
        </ul>
        <ng-content select="p"></ng-content>
    </div>
</div>