<ng-template #modal></ng-template>
<ng-container *ngIf="userDetails$ | async as userDetails">
    <h2>
        Detail information about user: {{ userDetails.name.first }}
    </h2>
    <app-slider
        [userDetails]="userDetails"
        [currentImage]="currentImage"
        (previousImage)="onPreviousImage($event)"
        (nextImage)="onNextImage($event)"
        >
    </app-slider>
    
    <app-additional
        [userDetails]="userDetails"
        [showTable]="showTable"
        (getResidentName)="onGetResidentName($event)"
        >
    </app-additional>

    <app-details
        [userDetails]="userDetails"
        [showTable]="showTable"
        [showText]="showText"
        (openModalDeleteUser)="onOpenModalDeleteUser($event)"
        (editCurrentUser)="onEditCurrentUser($event)"
        >
        <button button-back
            routerLink="/home"
            mat-raised-button color="primary"
            #contentButton
            >
            Back users
        </button>
        <mat-checkbox checbox-show-data
            class="example-margin" 
            [(ngModel)]="showTable"
            (change)="showText=!showText"
            #contentChecbox
            >
            <span>
                {{ showText ? 'hide details' : 'show details' }}
            </span>
        </mat-checkbox>
        <a  button-extra
            class="referense-margin"
            [routerLink]="['/description', userDetails.id, 'extra', { appeal: userDetails.name.title }]" 
            mat-raised-button 
            #contentButton
            >
            Extra
        </a>
    </app-details>

    <router-outlet></router-outlet>
</ng-container>
