<section 
    class="edit__container edit"
    *ngIf="userEdit$ | async as userEdit"
    >
    <h1>
        Page edit for user: {{ userEdit.name.first }}
    </h1>
    <mat-sidenav-container>
        <mat-sidenav-content>
            <form 
                class="edit__form" 
                [formGroup]="formEdit" 
                (ngSubmit)="editUser(userEdit)" 
                novalidate
                >
                <!-- Picture -->
                <div class="edit__images">
                    <div class="edit__wrapper-images">
                        <div class="image" *ngFor="let image of userEdit.picture; let i = index">
                            <img [src]="image.src">
                            <span 
                                (click)="deleteImage(image, userEdit)"
                                >
                                X
                            </span>
                        </div>
                    </div>
                    <mat-form-field class="example-full-width">
                        <div class="edit__file-control">
                            <mat-toolbar>
                                <input 
                                    matInput  
                                    readonly 
                                    name="File" 
                                    placeholder="picture"
                                />
                                <button 
                                    mat-flat-button 
                                    color="accent"
                                    >
                                    <i class="material-icons">file_upload</i>
                                    Load image
                                </button>
                            </mat-toolbar>
                            <input 
                                class="file-control-input" 
                                type="file" 
                                #uploadControl 
                                (change)="imageChange($event)" 
                                formControlName="picture"
                                multiple="multiple" 
                                accept="image/*"
                            />
                            <mat-error *ngIf="formEdit.get('picture')?.hasError('required')">
                                You must provide a <strong>picture</strong>
                            </mat-error> 
                            <mat-error *ngIf="formEdit.get('picture')?.hasError('noFile')">
                                Please select images for editing!
                            </mat-error> 
                            <mat-error *ngIf="formEdit.get('picture')?.hasError('fileToBig')">
                                Image size should not be more than <strong>1000000 bytes!</strong>
                            </mat-error> 
                            <mat-error *ngIf="formEdit.get('picture')?.hasError('onlyImage')">
                                Only images are supported!
                            </mat-error>
                        </div>           
                    </mat-form-field>
                </div>
                <div formGroupName="name">  
                    <!-- Appeal -->
                    <mat-form-field>
                        <mat-label>
                            Appeal
                        </mat-label>
                        <mat-select formControlName="title">
                            <mat-option 
                                [value]="item" 
                                *ngFor="let item of appeal"
                                >
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- First name -->
                    <mat-form-field class="example-full-width">
                        <input 
                            matInput 
                            placeholder="First name" 
                            formControlName="first"
                        >
                        <mat-error *ngIf="formEdit.get('name')?.get('first')?.hasError('required')">
                            You must provide a <strong>first name</strong>
                        </mat-error> 
                        <mat-error *ngIf="formEdit.get('name')?.get('first')?.hasError('pattern')">
                            You must provide only <strong>letters and numbers</strong>
                        </mat-error> 
                    </mat-form-field>
                    <!-- Last name -->
                    <mat-form-field class="example-full-width">
                        <input 
                            matInput 
                            placeholder="Last name" 
                            formControlName="last"
                        />
                        <mat-error *ngIf="formEdit.get('name')?.get('last')?.hasError('required')">
                            You must provide a <strong>last name</strong>
                        </mat-error> 
                        <mat-error *ngIf="formEdit.get('name')?.get('last')?.hasError('pattern')">
                            You must provide only <strong>letters</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- Gender -->
                <div class="misc-bottom-padding">
                    <mat-label>
                        Gender:
                    </mat-label>
                    <mat-radio-group 
                        aria-label="Select an option" 
                        formControlName="gender"
                        >
                        <mat-radio-button   
                            [value]="item" 
                            *ngFor="let item of gender"
                            >
                            {{ item }}
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="formEdit.get('gender')?.hasError('required')">
                        You must provide a <strong>gender</strong>
                    </mat-error>
                </div>
                <!-- Status -->
                <mat-form-field>
                    <mat-label>
                        Status
                    </mat-label>
                    <mat-select formControlName="status">
                        <mat-option 
                            [value]="status" 
                            *ngFor="let status of statuses"
                            >
                            {{ status }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- Date of birth -->
                <div formGroupName="dob">
                    <mat-form-field>
                        <mat-label>
                            Date of birth
                        </mat-label>
                        <input  
                            matInput 
                            [matDatepicker]="birthdayDatepicker" 
                            formControlName="date"
                        />
                        <mat-datepicker-toggle 
                            matSuffix 
                            [for]="birthdayDatepicker"
                            >
                        </mat-datepicker-toggle>
                        <mat-datepicker #birthdayDatepicker></mat-datepicker>
                        <mat-error *ngIf="formEdit.get('dob')?.get('date')?.hasError('required')">
                            You must provide a <strong>date of birth</strong>
                        </mat-error> 
                        <mat-error *ngIf="formEdit.get('dob')?.get('date')?.hasError('invalidDate')">
                            Your birthday must be greater than <strong>today's date</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div formGroupName="location">
                    <!-- Countries -->
                    <mat-form-field>
                        <mat-label>
                            Countries
                        </mat-label>
                        <mat-select formControlName="countries">
                            <mat-option 
                                [value]="country.id" 
                                *ngFor="let country of countries"
                                >
                                {{ country.name }} 
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formEdit.get('location')?.get('countries')?.hasError('required')">
                            You must provide a <strong>countries</strong>
                        </mat-error>
                    </mat-form-field>
                    <!-- Cities -->
                    <mat-form-field>
                        <mat-label>
                            Cities
                        </mat-label>
                        <mat-select formControlName="cities">
                            <mat-option 
                                [value]="city.id" 
                                *ngFor="let city of cities"
                                >
                                {{ city.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formEdit.get('location')?.get('cities')?.hasError('required')">
                            You must provide a <strong>cities</strong>
                        </mat-error>
                    </mat-form-field>
                    <!-- PostCode -->
                    <mat-form-field class="example-full-width">
                        <mat-label>
                            Post code
                        </mat-label>
                        <input 
                            matInput 
                            placeholder="Post code" 
                            formControlName="postcode"
                        />
                        <mat-error *ngIf="formEdit.get('location')?.get('postcode')?.hasError('required')">
                            You must provide a <strong>postcode</strong>
                        </mat-error>
                        <mat-error *ngIf="formEdit.get('location')?.get('postcode')?.hasError('pattern')">
                            You must provide only <strong>numbers</strong>
                        </mat-error>
                        <mat-error *ngIf="formEdit.get('location')?.get('postcode')?.hasError('postCodeInvalid')">
                            You must provide <strong>post code from 4 to 6 sumbol</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- Email -->
                <mat-form-field class="example-full-width">
                    <mat-label>
                        Email
                    </mat-label>
                    <input 
                        matInput 
                        placeholder="Email" 
                        formControlName="email"
                    />
                    <mat-error *ngIf="formEdit.get('email')?.hasError('required')">
                        You must provide a <strong>email</strong>
                    </mat-error>  
                    <mat-error *ngIf="formEdit.get('email')?.hasError('pattern')">
                        You must provide a <strong>valid email address</strong>
                    </mat-error> 
                </mat-form-field>
                <!-- Website -->
                <mat-form-field class="example-full-width">
                    <mat-label>
                        Website
                    </mat-label>
                    <input 
                        matInput 
                        placeholder="Website" 
                        formControlName="website"
                    />
                    <mat-error *ngIf="formEdit.get('website')?.hasError('required')">
                        You must provide a <strong>website</strong>
                    </mat-error>  
                    <mat-error *ngIf="formEdit.get('website')?.hasError('invlidUrl')">
                        Your website address must be <strong>http://</strong>
                    </mat-error>  
                </mat-form-field>
                <!-- Languages Array-->
                <mat-form-field class="example-chip-list">
                    <mat-chip-list #languageList formArrayName="language">
                        <mat-chip 
                            *ngFor="let item of languages.controls; let i=index;"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="remove(formEdit, i)"
                            >
                            {{item.value}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input 
                            formControlName="i"
                            placeholder="Languages"
                            [matChipInputFor]="languageList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event, formEdit)"
                        >isEmpty
                    </mat-chip-list>
                    <mat-error *ngIf="formEdit.get('language')?.hasError('required')">
                        You must provide a <strong>language</strong>
                    </mat-error>
                    <mat-error>Atleast 1 name need to be added</mat-error>
                  </mat-form-field>       
                <!-- Date registered -->
                <div formGroupName="registered">
                    <mat-form-field formControlName="date">
                        <mat-label>
                            Date registred
                        </mat-label>
                        <input 
                            matInput 
                            value= "{{ userEdit.registered.date | formatDate }}"
                            disabled
                            >
                    </mat-form-field>
                </div>
                <!-- Phone -->
                <mat-form-field class="example-full-width">
                    <mat-label>
                        Phone
                    </mat-label>
                    <span matPrefix>+ &nbsp;</span>
                    <input 
                        matInput 
                        placeholder="(XXX)-XXX-XXXX"
                        formControlName="phone"
                    />
                    <mat-icon matSuffix>
                        mode_edit
                    </mat-icon>
                    <mat-error *ngIf="formEdit.get('phone')?.hasError('required')">
                        You must provide a <strong>phone</strong>
                    </mat-error>  
                    <mat-error *ngIf="formEdit.get('phone')?.hasError('invalidPhones')">
                        You must provide a <strong>invalid phone</strong>
                    </mat-error>
                </mat-form-field>
                <!-- Nationality -->
                <mat-form-field class="example-full-width">
                    <mat-label>
                        Nationality
                    </mat-label>
                    <input 
                        matInput 
                        placeholder="Nationality" 
                        formControlName="nationality"
                    />
                    <mat-error *ngIf="formEdit.get('nationality')?.hasError('required')">
                        You must provide a <strong>nationality</strong>
                    </mat-error>  
                    <mat-error *ngIf="formEdit.get('nationality')?.hasError('pattern')">
                        You must provide only <strong>capital letters</strong>
                    </mat-error>
                    <mat-error *ngIf="formEdit.get('nationality')?.hasError('maxLength')">
                        You must provide not more than <strong>3 capital letters</strong>
                    </mat-error>
                </mat-form-field>
                <!-- Submit -->
                <div class="button-wrapper">
                    <button 
                        mat-flat-button 
                        color="primary"
                        [disabled]="formEdit.invalid || formEdit.pending"
                        >
                        Save changes
                    </button>
                </div>
            </form>
        </mat-sidenav-content>
    </mat-sidenav-container>    
</section>