<section class="nav__container nav">
    <div class="nav__logo">
        <a routerLink="">
            <img 
                [src]="logo" 
                routerLink=""
            >
        </a>
    </div>
    <nav class="nav__navigation">
        <ul class="nav__authenticated" 
            *ngIf="!isAuthenticated"
            >
            <li routerLinkActive="active">
                <a [routerLink]="['/auth/log-in']">
                    Log-in
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/auth/sign-up']">
                    Sign-up
                </a>
            </li>
        </ul>
        <ul class="nav__admin" 
            *ngIf="isAuthenticated"
            >
            <li routerLinkActive="active">
                <a routerLink="/home">
                    Home
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/create">
                    Create
                </a>
            </li>
            <li routerLinkActive="active"
                >
                <a 
                    routerLink="/login" 
                    (click)="logout($event)"
                    >
                    Logout
                </a>    
            </li>
        </ul>
    </nav>
</section>