.nav {
    display: flex;
    justify-content: start;
    height: 100%;

    &__logo {
        
        a {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__navigation {
        width: 100%;
        margin: auto;

        ul {
            display: flex;
            align-items: center;

            li {
                padding: 0 .6rem;
                font-size: 2rem;

                a {
                    cursor: pointer;
                }
            }
        }
    }
    
    &__authenticated {
        justify-content: end;
    }

    &__admin {
        width: 100%;

        li:last-child {
            margin-left: auto;
        }
    }
}