<section class="create create__user">
    <form class="create__form form"
        [formGroup]="formCreate" 
        (ngSubmit)="createUser()" 
        >
        <!-- Picture -->
        <div class="create__pictures" 
            *ngFor="let image of picture; let ind=index"
            >
            <div class="images">
                <img [src]="image.src">
                <span (click)="deleteImage(ind)">
                    X
                </span>
            </div>
        </div>
        <div class="create__form-group form-group">
            <label for="picture">
                Upload File:
            </label>
            <input 
                (change)="addPicture($event)" 
                type="file"
                formControlName="picture"
            />
            <div class="validation">
                <ng-container *ngIf="formCreate.controls['picture'].touched && formCreate.controls['picture'].invalid">
                    <small class="error"
                        *ngIf="formCreate.get('picture')?.hasError('noFile')"
                        >
                        🚫 &nbsp; Please select <strong>images for editing!</strong> 
                    </small>
                    <small class="error"
                        *ngIf="formCreate.get('picture')?.hasError('fileToBig')"
                        >
                        🚫 &nbsp; Image size should not be more than <strong>1000000 bytes!</strong>
                    </small>
                </ng-container>
                <ng-container *ngIf="formCreate.controls['picture'].dirty && formCreate.controls['picture'].valid">
                    <small class="available">
                        ✅ &nbsp;Hurray, picture valid!
                    </small>
                </ng-container>
            </div>
        </div>
        <!-- Name -->
        <ng-container formGroupName="name">
            <!-- title -->
            <div class="create__form-checkbox">
                <app-checkbox-accessor
                    formControlName="title"
                    [isRequired]="true"
                    [label]="'Appeal'"
                    [isAppeal]="true"
                    >
                </app-checkbox-accessor>
            </div>
            <!-- First name -->
            <app-input-accessor 
                formControlName="first"
                [placeholder]="'Enter your first name...'"
                [isRequired]="true"
                [label] = "'First name'"
                [patternLettersNumbers]="'^[a-zA-Z][a-zA-Z0-9]+$'"
                >
            </app-input-accessor>
            <!-- Last name -->
            <app-input-accessor
                formControlName="last"
                [placeholder]="'Enter your last name...'"
                [isRequired]="true"
                [label] = "'Last name'"
                [patternLetters]="'^[a-zA-Z][a-zA-Z]+$'"
                >
            </app-input-accessor>
        </ng-container>
        <!-- Gender -->
        <div class="create__form-checkbox">
            <app-checkbox-accessor 
                formControlName="gender"
                [isRequired]="true"
                [label]="'Gender'"
                [isGender]="true"
                >
            </app-checkbox-accessor>
        </div>
        <!-- Status -->
        <div class="create__form-checkbox">
            <app-checkbox-accessor
                formControlName="status"
                [isRequired]="true"
                [label]="'Status'"
                [isStatus]="true"
                >
            </app-checkbox-accessor>
        </div>
        <!-- Date of birth -->
        <div class="create__form-group form-group">
            <label for="date">
                Date of birth
            </label>
            <input id="date"
                type="date"
                formControlName="dob"
            />
            <div class="validation">
                <ng-container *ngIf="formCreate.get('dob')?.invalid && formCreate.get('dob')?.touched">
                    <small class="error"
                        *ngIf="formCreate.get('dob')?.hasError('required')"
                        >
                        🚫 &nbsp; You must provide a <strong>date of birth!</strong>
                    </small>
                        <small class="error"
                        *ngIf="formCreate.get('dob')?.hasError('invalidDate')"
                        >
                        🚫 &nbsp; Your birthday must be greater than <strong>today's date!</strong>
                    </small>
                </ng-container>
                <ng-container *ngIf="formCreate.get('dob')?.dirty && formCreate.get('dob')?.valid">
                    <small class="available">
                        ✅ &nbsp;Hurray, date of birth is valid!
                    </small>
                </ng-container>
            </div>
        </div>
        <!-- location -->
        <ng-container formGroupName="location">
            <!-- Country -->
            <div class="create__form-group form-group">
                <app-countries-accessor formControlName="country"></app-countries-accessor>
                <div class="validation">
                    <ng-container *ngIf="formCreate.get('location')?.get('country')?.invalid && formCreate.get('location')?.get('country')?.touched">
                        <small class="error"
                            *ngIf="formCreate.get('location')?.get('country')?.hasError('required')"
                            >
                            🚫 &nbsp; You must provide a <strong>country!</strong>
                        </small>
                    </ng-container>
                    <ng-container *ngIf="formCreate.get('location')?.get('country')?.dirty && formCreate.get('location')?.get('country')?.valid">
                        <small class="available">
                            ✅ &nbsp;Hurray, country valid!
                        </small>
                    </ng-container>
                </div>
            </div>
            <!-- City -->
            <app-input-accessor
                formControlName="city"
                [placeholder]="'Enter your city...'"
                [isRequired]="true"
                [label] = "'City'"
                [patternLetters]="'^[a-zA-Z][a-zA-Z]+$'"
                >
            </app-input-accessor>
            <!-- Postcode -->
            <app-input-accessor
                formControlName="postcode"
                [placeholder]="'Enter your postcode...'"
                [isRequired]="true"
                [label] = "'Postcode'"
                [patternNumbers]="'^[0-9]+$'"
                [patternMinLength]="4"
                [patternMaxLength]="6"
                >
            </app-input-accessor>
            <!-- Coordinates -->
            <ng-container formGroupName="coordinates">
                <!-- Latitude -->
                <div class="create__form-group form-group">
                    <label for="latitude">
                        Coordinates latitude
                    </label>
                    <input id="latitude"
                        type="text" 
                        placeholder="Latitude has next format: -/+XXX.XXXX"
                        formControlName="latitude"
                        autocomplete="off"
                    />
                    <div class="validation">
                        <ng-container 
                            *ngIf="formCreate.get('location')?.get('coordinates')?.get('latitude')?.invalid 
                            && formCreate.get('location')?.get('coordinates')?.get('latitude')?.touched"
                            >
                            <small class="error"
                                *ngIf="formCreate.get('location')?.get('coordinates')?.get('latitude')?.hasError('required')"
                                >
                                🚫 &nbsp; You must provide a <strong>coordinates latitude!</strong>
                            </small>
                            <small class="error"
                                *ngIf="formCreate.get('location')?.get('coordinates')?.get('latitude')?.hasError('ivalidCoordinates')"
                                >
                                🚫 &nbsp; You must provide only <strong>coordinates latitude!</strong>
                            </small>
                        </ng-container>
                        <ng-container 
                            *ngIf="formCreate.get('location')?.get('coordinates')?.get('latitude')?.dirty 
                            && formCreate.get('location')?.get('coordinates')?.get('latitude')?.valid"
                            >
                            <small class="available">
                                ✅ &nbsp;Hurray, coordinates latitude valid!
                            </small>
                        </ng-container>
                    </div>
                </div>
                <!-- Longitude -->
                <div class="create__form-group form-group">
                    <label for="longitude">
                        Coordinates longitude
                    </label>
                    <input id="longitude"
                        type="text" 
                        placeholder="Longitude has next format: -/+XXX.XXXX"
                        formControlName="longitude"
                        autocomplete="off"
                    />
                    <div class="validation">
                        <ng-container
                            *ngIf="formCreate.get('location')?.get('coordinates')?.get('longitude')?.invalid 
                            && formCreate.get('location')?.get('coordinates')?.get('longitude')?.touched"
                            >
                            <small class="error"
                                *ngIf="formCreate.get('location')?.get('coordinates')?.get('longitude')?.hasError('required')"
                                >
                                🚫 &nbsp; You must provide a <strong>coordinates longitude!</strong>
                            </small>
                            <small class="error"
                                *ngIf="formCreate.get('location')?.get('coordinates')?.get('longitude')?.hasError('ivalidCoordinates')"
                                >
                                🚫 &nbsp; You must provide only <strong>corect longitude!</strong>
                            </small>
                        </ng-container>
                        <ng-container
                            *ngIf="formCreate.get('location')?.get('coordinates')?.get('longitude')?.dirty && 
                            formCreate.get('location')?.get('coordinates')?.get('longitude')?.valid"
                            >
                            <small class="available">
                                ✅ &nbsp;Hurray, coordinates longitude valid!
                            </small>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <!-- Email -->
        <app-input-accessor
            formControlName="email"
            [isRequired]="true"
            [placeholder]="'Enter your email...'"
            [label] = "'Email'"
            [patternEmail]="'[A-Za-z0-9._%-]+@[A-Za-z0-9._%-]+.[a-z]{2,3}'"
            >
        </app-input-accessor>
        <!-- Website -->
        <div class="create__form-group form-group">
            <label for="website">
                Website
            </label>
            <input id="website"
                type="url" 
                placeholder="Enter website..." 
                formControlName="website" 
                autocomplete="off"
            />
            <div class="validation">
                <ng-container *ngIf="formCreate.get('website')?.invalid && formCreate.get('website')?.touched">
                    <small class="error"
                        *ngIf="formCreate.get('website')?.hasError('required')"
                        >
                        🚫 &nbsp; You must provide a <strong>website!</strong>
                    </small>
                    <small class="error"
                        *ngIf="formCreate.get('website')?.hasError('invlidUrl')"
                        >
                        🚫 &nbsp; Your website address must be <strong>http://*****.com!</strong>
                    </small>
                </ng-container>
                <ng-container *ngIf="formCreate.get('website')?.disable && formCreate.get('website')?.valid">
                    <small class="available">
                        ✅ &nbsp; Hurray, coordinates website valid!
                    </small>
                </ng-container>
            </div>
        </div>
        <!-- Languages Array-->
        <div class="create__form-group form-group"
            formArrayName="language"
            >
            <label for="language">
                Add languages
            </label>
            <button 
                type="button" 
                (click)="addLanguage()"
                >
                Add language
            </button>
            <table>
                <tr 
                    *ngFor="let item of language.controls; let ind = index;"
                    >
                    <td>
                        <input class="form-control"
                            id="language"
                            type="text"  
                            [formControlName]="ind"
                        />
                    </td>             
                    <td>
                        <button
                            type="button" 
                            (click)="deleteLanguage(ind)"
                            >
                            Delete
                        </button>
                    </td>
                
                </tr>            
            </table>
            <div class="validation"
                *ngIf="formCreate.get('language')?.get('ind')?.invalid && formCreate.get('language')?.get('ind')?.touched"
                >
                <small class="error"
                    *ngIf="formCreate.get('language')?.get('ind')?.hasError('isEmpty')"
                    >
                    🚫 &nbsp; You must provide a <strong>language!</strong>
                </small>
                <small class="error"
                    *ngIf="formCreate.get('language')?.get('ind')?.hasError('pattern')"
                    >
                    🚫 &nbsp; You must provide only <strong>letters!</strong>
                </small>
            </div>
        </div>
        <!-- Available -->
        <div class="create__form-checkbox">
            <app-checkbox-accessor
                formControlName="available"
                [isRequired]="true"
                [label]="'Available'"
                [isAvailable]="true"
                >
            </app-checkbox-accessor>
        </div>
        <!-- Date registered -->
        <div class="create__form-group form-group">
            <label for="date">
                Date of registered
            </label>
            <input id="date"
                type="text" 
                formControlName="registered" 
            />
            {{ registeredDate | localTime }}
        </div>
        <!-- Phone -->
        <div class="create__form-group form-group">
            <label for="phone">
                Phone
            </label>
            <input id="phone"
                type="tel" 
                placeholder="Enter phone next format: 989-365-4108..." 
                formControlName="phone" 
                autocomplete="off"
            />
            <div class="validation">
                <ng-container *ngIf="formCreate.get('phone')?.invalid && formCreate.get('phone')?.touched">
                    <small class="error"
                        *ngIf="formCreate.get('phone')?.hasError('required')"
                        >
                        🚫 &nbsp; You must provide a <strong>phone!</strong>
                    </small>
                        <small class="error"
                        *ngIf="formCreate.get('phone')?.hasError('invalidPhone')"
                        >
                        🚫 &nbsp;You must provide a <strong>valid phone!</strong>
                    </small>
                </ng-container>
                <ng-container *ngIf="formCreate.get('phone')?.touched && formCreate.get('phone')?.valid">
                    <small class="available">
                        ✅ &nbsp; Hurray, coordinates phone valid!
                    </small>
                </ng-container>
            </div>
        </div>
        <!-- Nationality -->
        <app-input-accessor
            formControlName="nat"
            [placeholder]="'Enter your nationality...'"
            [isRequired]="true"
            [label] = "'Nationality'"
            [patternCapitalLetters]="'^[A-Z][A-Z]+$'"
            [patternMaxLength]="3"
            >
        </app-input-accessor>
        <!-- Submit -->
        <div class="create__form-group form-group">
            <button 
                [disabled]="formCreate.invalid || formCreate.pending"
                >
                Create user
            </button>
        </div>
    </form>
</section>