/* You can add global styles to this file, and also import other style files */
:root {
    --light-color-1: #ffffff;
    --primary-color-1: #ff0019;
    --primary-color-2:turquoise ;
    --primary-color-3: #F2906B;
    --primary-color-4: #0d9700;
    --dark-color-1: #452F21;
    --dark-color-2: #575757;
    --dark-color-3: #262626;
    --dark-color-4: #1a1a1a;
    --transparent-color: rgba(2, 2, 2, 0.582);
}

html, body  {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font: normal normal normal 1rem/1.5 Roboto, "Helvetica Neue", sans-serif;
}
  
*, *::before, *::after {
    box-sizing: inherit;
}

.common {
    min-height: 100%;
    display: grid;
    grid-template:  [row1-start] "header header" 95px [row1-end]
                    [row2-start] "main main" 1fr [row2-end]
                    [row3-start] "footer footer" auto [row3-end]
                    /17% 83%;
    grid-gap: .6rem 0;
}

header {
    position: fixed;
    width: 100%;
    height: 85px;
    left: 0;
    top: 0;
    z-index: 6996;
    grid-area: header;
    background-color: var(--transparent-color);
}

main {
    grid-area: main;
    background-color: var(--light-color-1);
}

footer {
    width: 100%;
    grid-area: footer;
    background-color: var(--transparent-color);
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

ul {
    list-style-type: none;
    padding: 0;
}
  
a {
    text-decoration: none;
    color: var(--light-color-1);
}

.active a {
    color: var(--primary-color-1);
}

.content {
    padding: .2rem 1.6rem;
}

.form {
    width: 36%;

    .validation {
        width: 100%;
        color: var(--primary-color-1);

        .errors {
            position: relative;
            display: inline-block;
            border-radius: 5px;
            padding: 5px;
            background: var(--primary-color-1);
            color: var(--light-color-1);
    
            &::before {
                content: '';
                position: absolute;
                left: 20px;
                top: -10px;
                width: 0px;
                height: 0px;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid var(--primary-color-1);
            }
        }
    }
}

.form-group {
    margin-bottom: 1rem;
    
    label {
        display: block;
        font-size: 1rem;
        margin-bottom: .5rem;
    }

    input, select, textarea {
        display: block;
        width: 100%;
        padding: 0.4rem;
        font-size: 1.2rem;
        border: 1px solid var(--dark-color-2);
    }

    table {
        width: 100%;
    }

    input {
    
        &.ng-invalid.ng-touched {
            border: 2px solid var(--primary-color-1);
        }
    
        &.ng-valid.ng-touched {
            border: 2px solid var(--primary-color-4);
        }
    }
}

.checkbox-accessor {

    label {
        font-size: 1rem;
    }
    
    &__item {
        width: 200px;
        height: 100px;
        margin: 0;
        padding: 0;

        img {
             width: 100%;
             height: 100%;
        }
    }

    .active {
        border: 2px solid var(--primary-color-4);
    }
}
